.mat-card{
    background-color: rgb(255, 255, 255);
    color: #000000;
}

div.container{
    margin: 0px 40px;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }


/* filter controls */
.search-div{
    margin: 10px;
}