<mat-card-content>
  <div fxLayout="row" fxLayout.xs="column" class="mt-10">
    <div fxFlex="5%">
    </div>
    <div fxFlex="20%">
      <div class="logo-spacer"></div>
      <img src="assets/images/logo2.png" width="100%">
    </div>
    <div fxFlex="2%">
    </div>
    <div fxFlex="40%">

      <div class="spacer"></div>

      <mat-form-field class="example-full-width form-space">
        <input matInput placeholder="Search.." type="search">
      </mat-form-field>
      <mat-form-field class="form-space-margin">
        <mat-select placeholder="Select Categories">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-stroked-button><mat-icon>search</mat-icon></button>
    </div>
    <div fxFlex="5%"></div>

    <div fxFlex="15%">
      <div class="spacer"></div>
      <span class="span1">Call US Now</span><br/>
      <span class="mobile"><b>071 1 491 219</b></span>
    </div>

    <div fxFlex="5%">
      <div class="spacer"></div>
      <img src="assets/images/vl.png" width="50" height="50">
    </div>

    <div fxFlex="10%">
      <div class="spacer"></div>
      <mat-icon>shopping_cart</mat-icon>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column" class="mt-10">
    <mat-toolbar color="accent">
      <div fxFlex="70%"></div>
      <div fxFlex="10%">PRINTINGS</div>
      <div fxFlex="10%">DESIGNS</div>
      <div fxFlex="10%">ABOUT</div>
    </mat-toolbar>
  </div>
</mat-card-content>
