mat-toolbar{
  height: 50px;
}

.spacer {
  margin-top: 50px;
}
.logo-spacer {
  margin-top: 20px;
}

.form-space{
  width: 40%;
}
.form-space-margin{
  width: 40%;
  margin-right: 5px;
}

.span1 {
  text-align: right;
}
.mobile{
  font-size: 18px;
  color: 	#F99240;
}

mat-toolbar{
  font-size: 15px;
  font-weight: lighter;
}

.active-list-item {
  color: #F43A43;
  font-weight: bold;
}

a {
  color: #ffffff;
}
