<mat-card-content>
  <div fxLayout="row" fxLayout.xs="column" class="mt-10">
    <div fxFlex="5%">
    </div>
    <div fxFlex="20%">
<!--      <div class="logo-spacer"></div>-->
      <img src="assets/images/logo2.png" width="100%">
    </div>
    <div fxFlex="2%">
    </div>
    <div fxFlex="40%">

      <div class="spacer"></div>

      <mat-form-field class="example-full-width form-space">
        <input matInput placeholder="Search.." type="search">
      </mat-form-field>
      <mat-form-field class="form-space-margin">
        <mat-select placeholder="Select Category">
          <mat-option value="Any">Any</mat-option>
          <mat-option *ngFor="let category of categories" [value]="category.code">{{category.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-stroked-button><mat-icon>search</mat-icon></button>
    </div>
    <div fxFlex="5%"></div>

    <div fxFlex="15%">
      <div class="spacer"></div>
      <span class="span1">Call US Now</span><br/>
      <span class="mobile"><b>071 1 491 219</b></span>
    </div>

    <div fxFlex="5%">
      <div class="spacer"></div>
      <img src="assets/images/vl.png" width="50" height="50">
    </div>

    <div fxFlex="10%">
      <div class="spacer"></div>
      <mat-icon>shopping_cart</mat-icon>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column" class="mt-10">
    <mat-toolbar color="primary">
      <div fxFlex="70%"></div>
      <a fxFlex="10%" routerLink="home" mat-list-item  routerLinkActive="active-list-item">Home</a>
      <a fxFlex="10%" routerLink="products" mat-list-item  routerLinkActive="active-list-item">Products</a>
      <a fxFlex="10%" routerLink="about" mat-list-item  routerLinkActive="active-list-item">Contacts</a>
    </mat-toolbar>
  </div>
</mat-card-content>
