<div fxLayout="row" fxLayout.xs="column" class="mt-10">
  <div fxFlex="5%"></div>

  <div fxFlex="15%">
    <mat-card-content>
      <span><b>CATEGORIES</b></span>
      <mat-list *ngIf = "categories">
        <mat-list-item><a class="pointer">All</a></mat-list-item>
        <mat-list-item *ngFor="let category of categories"><a class="pointer">{{category.name}} (5)</a></mat-list-item>
      </mat-list>
    </mat-card-content>
  </div>

  <div fxFlex="75%">
    <div fxLayout="row wrap" class="mt-10">
      <div fxFlex.lg="25%" *ngFor="let x of products">
        <div class="item-card">
          <mat-card-content>
            <mat-card class="item-image">
              <img src="assets/images/design/{{x}}.jpg" width="100%">
            </mat-card>
            <mat-card-footer>
              <span class="title">TITLE</span><br/>
              <span class="name">Name</span><br/>
              <span class="price">Rs. 1500</span><br/>
              <span><button mat-raised-button (click)="addCart(x)">Add to Cart</button></span>
            </mat-card-footer>
          </mat-card-content>
        </div>
      </div>
    </div>
  </div>
</div>
