.item-card{
  margin-bottom: 50px;
  margin-right: 10px;
  margin-left: 10px;
}

.item-image{
  min-height: 230px;
}

.title{
  font-size: 10px;
  color: #cccccc;
}

.name{
  text-align: center;
  font-size: 15px;
}

.price{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

mat-card-footer{
  text-align: center;
}

.pointer {
  cursor: pointer;
}

a{
  color: #676767;
}

