<div fxLayout="row" fxLayout.xs="column" class="mt-10">
  <div fxFlex="2%"></div>

  <div fxFlex="18%">
    <mat-card class="cat-card">
      <span style="color: #1B1E41"><b>CATEGORIES</b></span>
      <mat-list *ngIf = "categories">
        <mat-list-item>
          <a class="pointer" (click)="selectCategory(null)" [ngClass]="{
                    'active-category' : selectedCategory === 'all'}">All
          </a>
        </mat-list-item>
        <mat-list-item *ngFor="let category of categories">
          <a class="pointer" (click)="selectCategory(category)" [ngClass]="{
                    'active-category' : category.code === selectedCategory}">
            {{category.name}} ({{getLengthFromCatCode(category.code)}})
          </a>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>
  <div fxFlex="2%"></div>
  <div fxFlex="75%">
    <div fxLayout="row wrap" class="mt-10">
      <div fxFlex.lg="25%" *ngFor="let product of selectedProducts" [@simple]>
        <div class="item-card">
            <mat-card class="item-image">
              <img [src]=product.image width="100%" height="100%" (click)="viewImage(product.image)" style="cursor: pointer">
            </mat-card>
            <mat-card-footer>
              <br/>
              <span class="name">{{product.name}}</span><br/>
              <span class="price">Rs. {{product.price}}</span><br/>
              <span class="qty">( {{product.quantity}} {{product.unit}} )</span><br/>
              <span><button mat-raised-button (click)="addCart(product)">Add to Cart</button></span>
            </mat-card-footer>
        </div>
      </div>
    </div>
  </div>
</div>
